head
  meta(charset='utf-8')
  title The Community of Things
  meta(name='description', content='A comunity for the Internet of Things.')
  
  link(rel='shortcut icon', href='favicon.ico', sizes='16x16 32x32')
  link(href='https://fonts.googleapis.com/css?family=Stint+Ultra+Condensed', rel='stylesheet')

  link(rel="manifest" href="/manifest.json")
  meta(name="mobile-web-app-capable" content="yes")
  meta(name='viewport', content='user-scalable=no, initial-scale=1, minimal-ui, maximum-scale=1, minimum-scale=1')
  link(rel="icon" sizes="144x144" href="/app_icons/energy_144-185844.png")
  meta(name="apple-mobile-web-app-status-bar-style" content="black")
  <link rel="apple-touch-startup-image" href="/app_icons/energy_152-185844.png">    
    
body
  +sAlert
