template(name='accountsBackground')
  .slider.fullscreen
    ul.slides
      li
        img(src='/landing_images/landing_1.jpg')
      li
        img(src='/landing_images/landing_2.jpg')
      li
        img(src='/landing_images/landing_3.jpg')
      li
        img(src='/landing_images/landing_4.jpg')
