template(name='footer')
  footer.page-footer(style='position: absolute; bottom: 0; min-width: 100vw;')
    .container
      .row
        .col.l6.s12
          a.grey-text.text-lighten-4(style='font-weight: 300;' href='https://github.com/VioletaCalvo')
            | 2016 Violeta CALVO ILUNDAIN
      //- a.grey-text.text-lighten-4.right(href='#!') More Links
